body{
    margin: 0px;
    background-color: green;
    font-family: sans-serif;
}

div{
    outline: solid 1px black;
}

h2{
    margin-top: 0px;
    padding: 5px;
}

#language{
    position: absolute;
    right: 30px;
    top: 0;
    font-size: 20px;
    color:darkgray;
    padding-right: 10px;
}
#language > img, #language > p{
    display: inline-block;
    padding-left: 10px;
}

#language:hover{
    background-color: #dddddd55;
    color: black;
}

.header{
    height: 70vh;
    width: 100%;
    display: grid;
    row-gap: 10px;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . ."
    ". logo ."
    ". menu ."
    ". . .";
    background-color: transparent;
}

#backgroundImage{
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 70vh;
    object-fit: cover;
}
#backgroundImageBlur{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 70vh;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(5px);
}

#menu {
    height: 1fr;
    display: grid;
    background-color: #dddddd77;
    grid-area: menu;
    grid-template-columns: min-content;
    justify-content: center;
    align-content: center;
}

#menu > p{
    margin: 0px;
    font-size: 20px;
    color: black;
    padding: 15px;
    white-space: nowrap;
}

#menu > p > a{
    text-decoration: none;
    color: black;
}

#menu > p:hover{
    text-decoration: underline;
    vertical-align: auto;
}

#logo
{
    grid-area: logo;
    min-height: 1fr;
    display: grid;
    align-content: center;
}

#logo > img{
    max-width: 100%;
}

.content{
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    row-gap: 25px;
    grid-template-areas:
        ". project ."
        ". furniture ."
        ". reports ."
        ". about .";
}

#project{
    margin-top: 50px;
    grid-area: project;
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-areas:
        ". projectHeader ."
        ". projectImage ."
        ". projectText . "
        ". projectNavigation .";
    background-color: white;
}

#project > div > img{
    max-width: 100%;
}

#reports{
    grid-area: reports;
}

#about{
    grid-area: about;
}

#projectHeader{
    grid-area: projectHeader;
    text-align: center;
}

#projectImage{
    grid-area: projectImage;
}

#projectImage > h2{
    text-align: center;
}

#projectText{
    grid-area: projectText;
}

#projectNavigation{
    grid-area: projectNavigation;
    text-align: center;
}

#projectNavigation > div{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 100px;
    outline: none !important;
    padding: 3px;
    margin: 5px;
}
#projectNavigation > div:hover{
    background-color: lightgray;
    cursor: pointer;
}

#furniture{
    column-gap: 10px;
    row-gap: 10px;
    background-color: white;
    grid-area: furniture;
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: repeat(5, min-content);
    grid-template-areas: 
        ". furnitureHeadline ."
        ". chair ."
        ". desk ."
        ". whiteboard ."
        ". portable .";
}

#furniture > div{
    text-align: center;
}
#furniture > div > img{
    max-width: 100%;
    max-height: 100%;
}

#chair:hover, #desk:hover, #whiteboard:hover, #portable:hover{
    cursor: pointer;
    background-color: lightgray;
}

#furnitureHeadline{
    grid-area: furnitureHeadline;
    text-align: center;
    max-height: fit-content;
    height: min-content;
}
#chair{
    grid-area: chair;
}

#desk{
    grid-area: desk;
}

#whiteboard{
    grid-area: whiteboard;
}

#portable{
    grid-area: portable;
}

#reports{
    column-gap: 10px;
    row-gap: 10px;
    background-color: white;
    grid-area: reports;
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: repeat(5, min-content);
    grid-template-areas: 
        ". reportsHeadline ."
        ". projectReport ."
        ". pedagogicsReport ."
        ". designReport ."
        ". circularityReport .";
}

#reports > div{
    text-align: center;
}
#reports > div > img{
    max-width: 100%;
    max-height: 100%;
}

#projectReport:hover, #pedagogicsReport:hover, #designReport:hover, #circularityReport:hover{
    cursor: pointer;
    background-color: lightgray;
}

#reportsHeadline{
    grid-area: reportsHeadline;
    text-align: center;
    max-height: fit-content;
    height: min-content;
}
#projectReport{
    grid-area: projectReport;
}

#pedagogicsReport{
    grid-area: pedagogicsReport;
}

#designReport{
    grid-area: designReport;
}

#circularityReport{
    grid-area: circularityReport;
}

#about{
    column-gap: 10px;
    row-gap: 20px;
    background-color: white;
    grid-area: about;
    display: grid;
    grid-template-columns: 10px 1fr 1fr 10px;
    grid-template-rows: repeat(6, min-content);
    grid-template-areas: 
        ". aboutHeadline aboutHeadline ."
        ". groupPicture groupPicture ."
        ". aboutText aboutText ."
        ". people people ."
        ". people people ."
        ". people people .";
}

#people{
    column-gap: 40px;
    row-gap: 20px;
    text-align: center;
    display: grid;
    grid-area: people;
    grid-template-columns: 15px 1fr 1fr 15px;
    grid-template-rows: repeat(6, min-content);
    grid-template-areas: 
        ". pedagogicsGroup pedagogicsGroup ."
        ". amanda arvid ."
        ". designGroup designGroup ."
        ". harald agnes ."
        ". circularityGroup circularityGroup ."
        ". annika alma .";

}

#people > div >img{
    border-radius: 100%;
    max-width: 100%;
    max-height: 100%;
}

#aboutHeadline{
    grid-area: aboutHeadline;
    text-align: center;
    height: min-content;
    max-height: fit-content;
}

#groupPicture{
    grid-area: groupPicture;
    margin: 0 auto;
}

#groupPicture > img{
    max-width: 100%;
    max-height: 100%;
}

#aboutText{
    grid-area: aboutText;
    margin-bottom: 60px;
}

#pedagogicsGroup{
    grid-area: pedagogicsGroup;
}

#amanda{
    grid-area: amanda;
}

#arvid{
    grid-area: arvid;
}

#designGroup{
    grid-area: designGroup;
}

#harald{
    grid-area: harald;
}

#agnes{
    grid-area: agnes;
}

#circularityGroup{
    grid-area: circularityGroup;
}

#annika{
    grid-area: annika;
}

#alma{
    grid-area: alma;
}

#footer{
    padding: 10vh 0;
    text-align: center;
    display: grid;
    margin-top: 25px;
    background-color: white;
    grid-template-rows: 20px repeat(3, 1fr) 20px;
    grid-template-areas: 
        "." 
        "course"
        "updated"
        "contact"
        ".";
}
#footer > div > p, #footer > div >h3{
    margin-top: 0px;
}

#course{
    grid-area: course;
}
#updated{
    grid-area: updated;
}
#contact{
    grid-area: contact;
}

/*Product page styling*/
#productPage{
    row-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 20px;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
    ". presentation ."
    ". productGallery ."
    ". criterias .";
}

#presentation{
    background-color: white;
    text-align: center;
    margin-top: 80px;
    grid-area: presentation;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
    "productHeadline"
    "classroomProductPicture" 
    "aboutProduct"
    "inShort";
}

#presentation > div > img{
    max-width: 100%;
    max-height: 100%;
}
#productHeadline{
    grid-area: productHeadline;
}
#classroomProductPicture{
    grid-area: classroomProductPicture;
}
#aboutProduct{
    grid-area: aboutProduct;   
}
#inShort{
    grid-area: inShort;
}

#productGallery{
    grid-area: productGallery;
    row-gap: 20px;
    margin-top: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, min-content);
    grid-template-areas:
    "productPicture1"
    "productPicture1Description"
    "productPicture2"
    "productPicture2Description"
    "productPicture3"
    "productPicture3Description";
}
#productGallery > div >img{
    max-width: 100%;
    max-height: 100%;
}
#productPicture1{
    grid-area: productPicture1;
}
#productPicture1Description{
    grid-area: productPicture1Description;
}
#productPicture2{
    grid-area: productPicture2;
}
#productPicture2Description{
    grid-area: productPicture2Description;
}

#productPicture3{
    grid-area: productPicture3;
}
#productPicture3Description{
    grid-area: productPicture3Description;
}

#criterias{
    grid-area: criterias;
}

@media only screen and (min-width: 1200px){
    
    .header{

        grid-template-columns: 1fr repeat(3, 400px) 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: ". . . . ."
        ". logo menu menu ."
        ". . . . ."
        ". . . . .";
        column-gap: 10px;
    }

    #menu {
        grid-template-columns: min-content min-content min-content min-content;
    }

    .content{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 20px;
        grid-template-areas:
            ". project project project ."
            ". furniture furniture furniture ."
            ". reports reports reports ."
            ". about about about .";
    }

    #project{
        display: grid;
        grid-template-columns: 20px repeat(3, 1fr) 20px;
        grid-template-areas: 
            ". projectHeader projectHeader projectHeader ."
            ". projectImage projectText projectText ."
            ". projectNavigation projectNavigation projectNavigation .";
    }
    
    #furniture{
        grid-template-columns: 10px repeat(4, 1fr) 10px;
        row-gap: 0px;
        grid-template-areas: 
            ". furnitureHeadline  furnitureHeadline furnitureHeadline furnitureHeadline ."
            ".  chair desk whiteboard portable ."
            ".  chair desk whiteboard portable ."
            ".  chair desk whiteboard portable ."
            ".  chair desk whiteboard portable .";
        padding-bottom: 30px;
    }

    #reports{
        grid-template-columns: 10px repeat(4, 1fr) 10px;
        row-gap: 0px;
        grid-template-areas: 
            ". reportsHeadline  reportsHeadline reportsHeadline reportsHeadline ."
            ".  projectReport pedagogicsReport designReport circularityReport ."
            ".  projectReport pedagogicsReport designReport circularityReport ."
            ".  projectReport pedagogicsReport designReport circularityReport ."
            ".  projectReport pedagogicsReport designReport circularityReport .";
        padding-bottom: 30px;
    }
    #about{
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: 
            ". aboutHeadline aboutHeadline ."
            ". groupPicture aboutText ."
            ". people people .";
    }
    
    #people{
        column-gap: 30px;
        text-align: center;
        display: grid;
        grid-area: people;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: min-content 1fr;
        grid-template-areas: 
            " pedagogicsGroup pedagogicsGroup designGroup designGroup circularityGroup circularityGroup"
            "amanda arvid harald agnes annika alma";
    }

    #footer{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 20px repeat(3, 1fr) 20px;
        grid-template-rows: 1fr;
        grid-template-areas: 
            ". course updated contact .";
    }

    /* Product Page Styling*/
    #productPage{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, min-content);
        grid-template-areas:
        ". presentation presentation presentation ."
        ". productGallery productGallery productGallery ."
        ". criterias criterias criterias .";
    }

    #presentation{
        grid-area: presentation;
        display:grid;
        row-gap: 50px;
        column-gap: 20px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: min-content min-content;
        grid-template-areas:
        ". productHeadline productHeadline productHeadline ."
        ". classroomProductPicture classroomProductPicture aboutProduct ."
        ". inShort inShort inShort .";
    }
    #productGallery{
        grid-area: productGallery;
        row-gap: 20px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, min-content);
        grid-template-areas:
        ". productPicture1 productPicture2 productPicture3 ."
        ". productPicture1Description productPicture2Description productPicture3Description .";
    }
}