
body{
    width: 100%;
}

.menu{
    color: rgb(77, 83, 80);
    background-color: burlywood;
    padding: 3%;
    width: 60%;
    margin: auto;
}

#logo{
    size: 48pt;
}
h2{
    font-style: italic;
}

#ingress{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: rgb(96, 97, 96);
}

#brodtext{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(138, 138, 151);
}